{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- reset css -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <!-- load css from static/ -->
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile-nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">




    <!-- load fonts -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand|Source+Sans+Pro&display=swap" rel="stylesheet">

    <title>Shreddit.io</title>
</head>
<body>
    <div class="main-content">

        <div class="mobile-nav hide-on-large-only blue-grey">
            {% include 'partials/mobile-nav.html' %}
        </div>

        {% block content %}
        {% endblock %}

        {% if messages %}
            {% with messages=messages %}
                {% include 'partials/messages.html' %}
            {% endwith %}
        {% endif %}
    </div>


    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/mobile-nav.js' %}"></script>

</body>
</html>