{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- reset css -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- load css from static/ -->
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile-nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/explore.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/stringedInstrument.css' %}">

    <!-- load fonts -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand|Source+Sans+Pro&display=swap" rel="stylesheet">

    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      
    <title>Shreddit.io</title>
</head>
<body>
    <div class="main-content blue-grey">

        <div class="mobile-nav hide-on-large-only blue-grey">
            {% include 'partials/mobile-nav.html' %}
        </div>

        {% block content %}
        {% endblock %}

        {% if messages %}
            {% include 'partials/messages.html' %}
        {% endif %}
    </div>

    <!-- JS for playing audio -->
    <script src="{% static 'js/playNotes/tonejs-instruments/Tonejs-Instruments.js' %}"></script>
    <script src="{% static 'js/playNotes/tone/build/Tone.js' %}"></script>
    
    <!-- Teoria JS -->
    <script src="{% static 'js/notesOnNeck/teoria/teoria-master/teoria.js' %}"></script>
    
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
    <script src="{% static 'js/mobileNav.js' %}"></script>
    
    <!-- JS for displaying notes on necks -->
    <script src="{% static 'js/notesOnNeck/stringedInstrumentLayouts/instrumentNeck.js' %}"></script>
    <script src="{% static 'js/notesOnNeck/stringedInstrumentLayouts/instrumentString.js' %}"></script>
    <script src="{% static 'js/notesOnNeck/stringedInstrumentLayouts/instrumentFret.js' %}"></script>
    <script src="{% static 'js/notesOnNeck/noteMarker.js' %}"></script>
    <script src="{% static 'js/notesOnNeck/notesOnNeck.js' %}"></script>
    

    <script src="{% static 'js/playNotes/progressionBuilder.js' %}"></script>
    <script src="{% static 'js/playNotes/playNotes.js' %}"></script>
    
    
</body>
</html>