<div class="content-cover blue-grey darken-4"></div>

<div class="hamburger blue-grey darken-2">
    <span class="burger-set-item blue-grey darken-4 top-bun   "></span>
    <span class="burger-set-item blue-grey darken-4 meat      "></span>
    <span class="burger-set-item blue-grey darken-4 bottom-bun"></span>
</div>

<div class="mobile-nav-menu blue-grey lighten-1">
    <h2>Shreddit.io</h2>
    <div class="row">
        <div class="col s12 avatar-container">
            {% if user.is_authenticated %}
                <div class="avatar">
                    <a href="{% url 'profile' %}">
                        <img src="{{ user.profile.avatar.url }}" 
                             alt="{{ user.username }}\'s avatar">
                    </a>
                </div>
                <div class="username-display">
                    <p>Logged in as <br/><span>{{ user.username }}</span></p>
                </div>
            {% else %}
                <div class="login-link right">
                    <a href="{% url 'login' %}">Login</a>
                </div>
                <div class="signup-link right">
                    <a href="{% url 'signup' %}">Sign up</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="menu-items">
                
            </div>
        </div>
    </div>
</div>