<select name="chord-quality" id="chord-quality" class="browser-default blue-grey-text text-darken-4 blue-grey">
    <option value="">Major</option>
    <option value="m">Minor</option>
    <option value="6">6</option>
    <option value="m6">m6</option>
    <option value="6/9">6/9</option>
    <option value="maj7">maj7</option>
    <option value="7">7</option>
    <option value="7b5">7b5</option>
    <option value="7#5">7#5</option>
    <option value="m7">m7</option>
    <option value="m(maj7)">m(maj7)</option>
    <option value="m7b5">m7b5</option>
    <option value="aug7">aug7</option>
    <option value="9">9</option>
    <option value="9b5">9b5</option>
    <option value="9#5">9#5</option>
    <option value="maj9">maj9</option>
    <option value="m9">m9</option>
    <option value="m11">m11</option>
    <option value="13">13</option>
    <option value="maj13">maj13</option>
    <option value="m13">m13</option>
    <option value="sus4">sus4</option>
    <option value="sus2">sus2</option>
    <option value="7sus4">7sus4</option>
    <option value="7sus2">7sus2</option>
    <option value="9sus4">9sus4</option>
    <option value="9sus2">9sus2</option>
    <option value="aug">aug</option>
    <option value="dim">dim</option>
    <option value="dim7">dim7</option>
    <option value="5">5</option>
</select>