<select name="scales" id="scale-formula-input" class="browser-default blue-grey-text text-darken-4 blue-grey">
    <option value="ionian">Major</option>
    <option value="aeolian">Minor</option>
    <option disabled value="#">--- Modes ---</option>
    <option value="ionian">Ionian</option>
    <option value="dorian">Dorian</option>
    <option value="phrygian">Phrygian</option>
    <option value="lydian">Lydian</option>
    <option value="mixolydian">Mixolydian</option>
    <option value="aeolian">Aeolian</option>
    <option value="locrian">Locrian</option>
    <option disabled value="#">--- Other ---</option>
    <option value="blues">Blues</option>
    <option value="majorpentatonic">Major Pentatonic</option>
    <option value="minorpentatonic">Minor Pentatonic</option>
    <option value="doubleharmonic">Double Harmonic</option>
    <option value="flamenco">Flamenco</option>
    <option value="harmonicminor">Harmonic Minor</option>
    <option value="melodicminor">Melodic Minor</option>
    <option value="wholetone">Whole Tone</option>
    <option value="chromatic">Chromatic</option>
</select>