{% extends 'base.html' %}

{% block content %}
    <div id="scales-and-chords-content" class="blue-grey">

        <div class="row">
            <div class="col s4 hide-on-large-only note-legend note-legend-vertical">
                <div class="note-legend-markers">
                    <div class="note-legend-marker">
                        <div>
                            P1
                        </div> 
                    </div>
                    <div class="note-legend-marker">
                        <div>
                            m2
                        </div> 
                    </div>
                    <div class="note-legend-marker">
                        <div>
                            m3
                        </div> 
                    </div>
                    <div class="note-legend-marker">
                        <div>
                            P4
                        </div> 
                    </div>
                    <div class="note-legend-marker">
                        <div>
                            P4
                        </div> 
                    </div>
                    <div class="note-legend-marker">
                        <div>
                            m6
                        </div> 
                    </div>
                    <div class="note-legend-marker">
                        <div>
                            m7
                        </div> 
                    </div>
                </div>
                <div class="row note-legend-type-container">
                    <div class="col 12 input-field center">
                        <p>View As:</p>
                        <select name="note-legend-type" id="note-legend-type" class="browser-default blue-grey-text text-darken-4 blue-grey lighten-1">
                            <option value="intervals">Intervals</option>
                            <option value="notes">Notes</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col s7 lg12" id="instrument-container">
                <!-- build instrument with JS -->
            </div>
        </div>
        <div class="row">
            <div class="col s12 hide-on-small-only note-legend note-legend-horizontal">
                <div class="note-legend-markers">
                    <div class="note-legend-marker">
                        <div>
                            P1
                        </div> 
                    </div>
                    <div class="note-legend-marker">
                        <div>
                            m2
                        </div> 
                    </div>
                    <div class="note-legend-marker">
                        <div>
                            m3
                        </div> 
                    </div>
                    <div class="note-legend-marker">
                        <div>
                            P4
                        </div> 
                    </div>
                    <div class="note-legend-marker">
                        <div>
                            P4
                        </div> 
                    </div>
                    <div class="note-legend-marker">
                        <div>
                            m6
                        </div> 
                    </div>
                    <div class="note-legend-marker">
                        <div>
                            m7
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 scale-info">
                <div class="scale-key">
                    <!-- insert key with JS -->
                </div>
                <div class="scale-name">
                    <!-- insert scale name with JS -->
                </div>
            </div>
        </div>

        <div class="row progression-info">
            <div class="previous-chord blue-grey-text text-darken-2">
                <div class='current-chord-name'>
                    <div class="root">
                        F
                    </div>
                    <div class="quality">
                        maj7
                    </div>
                </div>
            </div>
            <div class="current-chord  blue-grey-text text-darken-4">
                <p>&middot;</p>
                <p>&middot;</p>
                <p>&middot;</p>
                <div class='current-chord-name'>
                    <div class="root">
                        Cb
                    </div>
                    <div class="quality">
                        m7b5
                    </div>
                </div>
                <p>&middot;</p>
                <p>&middot;</p>
                <p>&middot;</p>
            </div>
            <div class="next-chord     blue-grey-text text-darken-2">
                <div class='current-chord-name'>
                    <div class="root">
                        Bb
                    </div>
                    <div class="quality">
                        dim7
                    </div>
                </div>
            </div>
        </div>

        <div class="row audio-controls">
            <div class="col s6 offset-s3 audio-buttons">
                <div class="play-button">
                    <i class="material-icons blue-grey-text text-darken-4">&#xe039;</i>
                </div>
                <div class="pause-button">
                    <i class="material-icons blue-grey-text text-darken-4">&#xe036;</i>
                </div>
            </div>
        </div>

        <div class="row center">
            <div class="scale-selects col s8 offset-s2 input-field">
                <h4>Key:</h4>
                <select name="key" id="key-input" class="browser-default blue-grey-text text-darken-4 blue-grey lighten-1">
                    <option value="C">C</option>
                    <option value="C#">C#</option>
                    <option value="Db">Db</option>
                    <option value="D">D</option>
                    <option value="D#">D#</option>
                    <option value="Eb">Eb</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="F#">F#</option>
                    <option value="Gb">Gb</option>
                    <option value="G">G</option>
                    <option value="G#">G#</option>
                    <option value="Ab">Ab</option>
                    <option value="A">A</option>
                    <option value="A#">A#</option>
                    <option value="Bb">Bb</option>
                    <option value="B">B</option>
                </select>
                
                <h4>Scale:</h4>
                <select name="scales" id="scale-formula-input" class="browser-default blue-grey-text text-darken-4 blue-grey lighten-1">
                    <option value="ionian" selected>Major</option>
                    <option value="aeolian">Minor</option>
                    <option disabled value="#">--- Modes ---</option>
                    <option value="ionian">Ionian</option>
                    <option value="dorian">Dorian</option>
                    <option value="phrygian">Phrygian</option>
                    <option value="lydian">Lydian</option>
                    <option value="mixolydian">Mixolydian</option>
                    <option value="aeolian">Aeolian</option>
                    <option value="locrian">Locrian</option>
                    <option disabled value="#">--- Other ---</option>
                    <option value="blues">Blues</option>
                    <option value="majorpentatonic">Major Pentatonic</option>
                    <option value="minorpentatonic">Minor Pentatonic</option>
                    <option value="doubleharmonic">Double Harmonic</option>
                    <option value="flamenco">Flamenco</option>
                    <option value="harmonicminor">Harmonic Minor</option>
                    <option value="melodicminor">Melodic Minor</option>
                    <option value="wholetone">Whole Tone</option>
                    <option value="chromatic">Chromatic</option>
                </select>
        
                <h4>- or -</h4>

                <h4>Chord:</h4>
                <select name="chord-quality" id="chord-quality" class="browser-default blue-grey-text text-darken-4 blue-grey lighten-1">
                    <option value="" selected>Major</option>
                    <option value="m">Minor</option>
                    <option value="6">6</option>
                    <option value="m6">m6</option>
                    <option value="6/9">6/9</option>
                    <option value="maj7">maj7</option>
                    <option value="7">7</option>
                    <option value="7b5">7b5</option>
                    <option value="7#5">7#5</option>
                    <option value="m7">m7</option>
                    <option value="m(maj7)">m(maj7)</option>
                    <option value="m7b5">m7b5</option>
                    <option value="aug7">aug7</option>
                    <option value="9">9</option>
                    <option value="9b5">9b5</option>
                    <option value="9#5">9#5</option>
                    <option value="maj9">maj9</option>
                    <option value="m9">m9</option>
                    <option value="m11">m11</option>
                    <option value="13">13</option>
                    <option value="maj13">maj13</option>
                    <option value="m13">m13</option>
                    <option value="sus4">sus4</option>
                    <option value="sus2">sus2</option>
                    <option value="7sus4">7sus4</option>
                    <option value="7sus2">7sus2</option>
                    <option value="9sus4">9sus4</option>
                    <option value="9sus2">9sus2</option>
                    <option value="aug">aug</option>
                    <option value="dim">dim</option>
                    <option value="dim7">dim7</option>
                    <option value="5">5</option>
                </select> 
            </div>
        </div>
        <!-- 
            completed instrument neck follows this pattern:
            <div class="neck-container" id="neck">
                <div class="string">
                    <div class="open-fret"><div class="note-marker"></div></div>
                    <div class="fret"></div>
                    <div class="fret"></div>
                </div>
                <div class="string invisible-string">
                    <div class="open-fret invisible-open-fret"></div>
                    <div class="fret invisible-fret"></div>
                </div>
            </div> 
        -->
        </div>
    </div>

    
{% endblock %}