{% extends 'base.html' %}

{% block content %}
    <div id="login-content" class="blue-grey">
        <h1>Login</h1>

        <div class="row">
            <div class="col s12 form-container">
                <form method="POST" class="login-form">
                    {% csrf_token %}
                    
                    <fieldset>
                        {{ form }}
                    </fieldset>
        
                    <div class="form-submit">
                        <button class="submit-button blue-grey darken-2 blue-grey-text text-lighten-4" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="register-links">
            <small class="nav-link">Need an account? <a href="{% url 'signup' %}">Sign Up</a></small><br/>
            <small class="nav-link">Forgot password? <a href="#" >Reset</a></small>
        </div>
    </div>

{% endblock %}