{% extends 'base.html' %}

{% block content %}
    <h1 class="blue-text text-darken-2">Sign up</h1>

    <div class="register-form">
        <form method="POST">
            {% csrf_token %}

            <fieldset>
                {{ form.as_p }}
            </fieldset>

            <div class="form-submit">
                <button class="submit-button">Sign Up!</button>
            </div>
        </form>
    </div>
    
    <div class="register-links">
        <small>Already have an account? <a href="{% url 'login' %}">Sign In</a></small><br/>
        <small>Forgot password? <a href="#">Reset</a></small>
    </div>
{% endblock %}