#scales-and-chords-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-top: 5vh;
}


#note-legend-type {
    font-size: 1.2rem;
    height: 4vh;
    margin: 5px;
    text-align: center;
}

.note-legend-vertical {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vh;
    padding-bottom: 5vh;
}

.note-legend-horizontal {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.note-legend-marker {
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    color: rgb(0, 0, 0);
    display: flex;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    height: 11vh;
    justify-content: center;
    margin: 3px;
    max-height: 11vw;
    max-width: 11vh;
    text-align: center;
    width: 11vw;
}

#scales-and-chords-content .audio-controls {
    display: flex;
    justify-content: center;
}

#scales-and-chords-content .audio-buttons {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

#scales-and-chords-content .audio-controls i{
    font-size: 4rem;
}

.scale-info {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}

.scale-key {
    font-size: 3rem;
    padding: 10px;
}

.scale-name {
    font-size: 3rem;
    padding: 10px 0;
}

.progression-info {
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.progression-builder select {
    height: 7vh;
}

.current-chord {
    display: flex;
    flex-direction: row;
    font-size: 4rem;
    font-weight: bold;
    justify-content: center;
    margin: 3vh 0;
    padding: 0 5px;
}

.current-chord-name {
    padding: 0 5px;
}

.current-chord-name .root {
    font-size: 4rem;
    text-align: center;
}

.current-chord .quality {
    font-size: 3rem;
}

.current-chord p {
    padding: 3px;
    margin: 0 1vw;
}

.current-chord p {
    padding-top: 8%;
}

.next-chord {
    text-align: center;
}

.next-chord .chord-name .root {
    font-size: 3rem;
}

.previous-chord {
    text-align: center;
}

.previous-chord .chord-name .root {
    font-size: 3rem;
}

.progression-builder h2 {
    margin: 15px 0;
    padding: 5px;
}

.current-progression {
    padding-bottom: 50px;
}

.progression-builder .key-input {

}

.progression-builder .scale-label {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.progression-builder .chord-label {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.progression-builder .progression-item {
    margin: 5px;
    padding: 5px;
}

.progression-builder .scale-name {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    /* text-align: center; */
}

.progression-builder .chord-name {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}

.progression-builder .add-button {
    border: 2px solid #263238;
    border-radius: 5px;
    box-shadow: 0 0 5px #263238;
    margin: 30px;
    padding: 10px;
}

.progression-builder .add-button:hover {
    box-shadow: 0 0 5px #cfd8dc;
    cursor: pointer;
}

.progression-builder .delete-button {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
}

@media only screen and (min-width: 768px){
    .note-legend-markers {
        display: flex;
        flex-direction: row;
    }
}