#scales-and-chords-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-top: 5vh;
}


.note-legend-vertical {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7vh;
}

.note-legend-horizontal {
    display: flex;
    justify-content: center;
}

.note-legend-marker {
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    color: rgb(0, 0, 0);
    display: flex;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    height: 12vh;
    justify-content: center;
    margin: 3px;
    max-height: 12vw;
    max-width: 12vh;
    text-align: center;
    width: 12vw;
}

#scales-and-chords-content .audio-controls {
    display: flex;
    justify-content: center;
}

#scales-and-chords-content .audio-buttons {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

#scales-and-chords-content .audio-controls i{
    font-size: 4rem;
}

.scale-info {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}

.scale-key {
    font-size: 3rem;
    padding: 10px;
}

.scale-name {
    font-size: 3rem;
    padding: 10px 0;
}

.progression-info {
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.current-chord {
    display: flex;
    flex-direction: row;
    font-size: 4rem;
    font-weight: bold;
    margin: 3vh 0;
    padding: 0 5px;
}

.current-chord-name {
    padding: 0 5px;
}

.current-chord-name .root {
    font-size: 4rem;
    text-align: center;
}

.current-chord .quality {
    font-size: 3rem;
}

.current-chord p {
    padding: 3px;
    margin: 0 1vw;
}

.current-chord p {
    padding-top: 8%;
}

.next-chord {
    text-align: center;
}

.next-chord .chord-name .root {
    font-size: 3rem;
}

.previous-chord {
    text-align: center;
}

.previous-chord .chord-name .root {
    font-size: 3rem;
}