html {
    font-size: 9px;
}

body {
    color: #19252b;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;

}

.main-content {
    left: 0;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    top: 0;
    width: 100vw;
    z-index: 0;
}

.hover-text:hover {
    color: #cfd8dc;
    text-shadow: 0 0 10px #90a4ae;
}

h1,h2 {
    font-family: 'Pacifico', cursive;
    padding: 3rem;
    text-shadow: 0 0 10px #203138;
    transition: color .5s ease;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
    padding: .2rem;
}


.row {
    margin: 0;
}

select {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    height: 5vh;
    text-align: center;
}

select:active option {
    font-family: 'Quicksand', sans-serif;
}

.hide {
    z-index: -1;
}
