html {
    font-size: 9px;
}

body {
    color: #19252b;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
}

.main-content {
    min-height: 100vh;
    left: 0;
    overflow-x: hidden;
    position: relative;
    top: 0;
    width: 100vw;
}

h1,h2 {
    font-family: 'Pacifico', cursive;
    padding: 3rem;
    text-shadow: 0 0 10px #203138;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
    padding: .2rem;
}

.row {
    margin: 0;
}