.message-display {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 5vw;
    padding: 10px;
    position: absolute;
    top: 5vw;
    width: 90vw;
    z-index: 6;
}


.message-container {
    align-items: center;
    background-color: #b0bec5;
    border: 2px solid #455a64;
    border-radius: 15px;
    box-shadow: 0 0 10px #263238;
    display: flex;
    font-size: 1.5rem;
    margin: 100px;
    opacity: 0;
    position: relative;
    top: -15px;
    transition: all .3s ease-in-out;
    width: 100%;
}

.message-show {
    opacity: 1;
    top: 0;
}

.message-display .message {
    font-size: 2rem;
    padding: 15px;
    text-align: center;
}

.message-display .close-x {
    align-items: center;
    border: 2px solid #455a64;
    display: flex;
    font-size: 3rem;
    height: 6vh;
    justify-content: center;
    max-height: 6vw;
    max-width: 6vh;
    padding: 10px;
    width: 6vw;
}

.message-display .close-x:hover{
    cursor: pointer;
}

@media only screen and (min-width: 400px){
    .message-display .row {
        width: 50%;
    }

    .message-display .message {
        font-size: 2.5rem;
        padding: 20px;
    }

    .message-display .close-x {
        font-size: 2rem;
    }

}