.nav {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.nav h1,h2 {
    margin:0;
    padding: 5px;
}

.nav {
    align-items: center;
    box-shadow: 0 10px 10px #263238;
    display: flex;
    padding: 5px;
}

/* Settings toggle icon*/
.nav .settings-icon {
    align-items: center;
    border: 2px solid #263238;
    border-radius: 5px;
    box-shadow: 0 0 5px #263238;
    display: flex;
    height: 5vh;
    justify-content: center;
    margin: 1rem 0;
    max-height: 5vw;
    max-width: 5vh;
    transition: all 1s ease;
    width: 5vw;

    font-size: 3rem;
    font-weight: bold;
}

.nav .settings-icon div {
    transition: 1s transform ease;
}

.nav .settings-icon-active div{
    transform: rotate(180deg);
}

.nav-links {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

.nav-link {
    padding: 0 5px;
}

.nav-link a {
    color: #90a4ae;
    transition: color .3s ease-in-out;
}

.nav-link a:hover {
    color: #263238;
}

.profile-links {
    align-items: center;
    display: flex;
    /* flex-direction: column; */
}

.nav .avatar {
    height: 7vh;
    margin: 0 10px;
    max-height: 7vw;
    max-width: 7vh;
    width: 7vw;
}

.nav .avatar img {
    border: 2px solid #253137;
    border-radius: 50%;
    box-shadow: 0 0 10px #203138;
    height: 100%;
    width: 100%;
}

