.nav {
    align-items: center;
    box-shadow: 0 10px 10px #263238;
    display: flex;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.nav h1,h2 {
    margin:0;
    padding: 5px;
}

.nav {

}

/* Settings toggle icon*/
.nav .settings-icon {
    align-items: center;
    border: 2px solid #263238;
    border-radius: 5px;
    box-shadow: 0 0 5px #263238;
    display: flex;
    font-size: 2.8rem;
    font-weight: bold;
    height: 5vh;
    justify-content: center;
    margin: 1rem 0;
    max-height: 5vw;
    max-width: 5vh;
    padding: 15px;
    transition: all 1s ease;
    width: 5vw;
}

.nav .settings-icon div {
    transition: 1s transform ease;
}

.nav .settings-icon-active div{
    transform: rotate(180deg);
}

.nav-links {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

.nav-link {
    padding: 0 5px;
}

.nav-link a { 
    color: #eceff1;
    transition: color .2s ease-in-out;
}

.nav-link a:hover {
    color: #37474f;
}

.profile-links {
    align-items: center;
    display: flex;
    /* flex-direction: column; */
}

.nav .avatar {
    height: 7vh;
    margin: 0 10px;
    max-height: 7vw;
    max-width: 7vh;
    width: 7vw;
}

.nav .avatar img {
    border: 2px solid #253137;
    border-radius: 50%;
    box-shadow: 0 0 10px #203138;
    height: 100%;
    width: 100%;
}

/* Settings dropdown */
.nav-settings {
    align-items: center;
    box-shadow: 0 10px 10px #203138;
    display: flex;
    flex-direction: column;
    left: 17vw;
    padding: 15px 0;
    position: absolute;
    top: 8vh;
    transition: top 1s ease-in-out;
    width: 55vw;
    z-index: 1;
}

.nav-settings .row {
    display: flex;
    width: 80%;
}
.nav-settings .instrument-inputs {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
}

.nav-settings .nav-divider{
    align-items: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    height: 3px;
    margin: 30px 0;
    width: 100%;
}

.nav-settings .nav-divider span {
    font-size: 5rem;
    margin: 0 3px;
}