#profile-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: absolute;
    text-align: center;
    width: 100vw;
    z-index: 1;
}

.username-display h1 {
    margin-bottom: 15px;
    padding: 0;
}

.username-display p {
    margin-bottom: 60px;
}

.avatar-container {
    display: flex;
    justify-content: center;
}

#profile-content .avatar{
    height: 50vh;
    margin: 5vw;
    max-height: 50vw;
    max-width: 50vh;
    width: 50vw;
}

#profile-content .avatar img {
    border: 4px solid #253137;
    border-radius: 50%;
    box-shadow: 0 0 10px #203138;
    height: 100%;
    width: 100%;
}

.card .title {
    padding: 15px;
    font-size: 2.5rem;
}

.card .card-links {
    align-items: center;
    display: flex;

}

.card .card-link {
    margin: 2px;
    padding: 15px;
}

.card .close {
    margin: 0;
    padding-left: 10px;
}