:root {
    /* RGB */
    --color1: rgba(0, 0, 0, 1);
    --color2: rgba(12, 24, 33, 1);
    --color3: rgba(27, 42, 65, 1);
    --color4: rgba(50, 74, 95, 1);
    --color5: rgba(204, 201, 220, 1);
}

.container {
    background-color: var(--color3);
    height: 100vh;
    width: 100vw;
}