:root {
    /* RGB */
    --color1: rgba(0, 0, 0, 1);
    --color2: rgba(12, 24, 33, 1);
    --color3: rgba(27, 42, 65, 1);
    --color4: rgba(50, 74, 95, 1);
    --color5: rgba(204, 201, 220, 1);

    --bill-hundred-bg: rgb(34, 55, 22);
    --bill-fifty-bg: rgb(67, 109, 44);
    --bill-twenty-bg: rgb(100, 163, 65);
    --bill-ten-bg: rgb(134, 205, 96);
    --bill-five-bg: rgb(170, 219, 143);
    --bill-one-bg: rgb(206, 234, 191);

    --bill-hundred-border: rgb(15, 32, 5);
    --bill-fifty-border: var(--bill-hundred-bg);
    --bill-twenty-border: var(--bill-fifty-bg);
    --bill-ten-border: var(--bill-twenty-bg);
    --bill-five-border: var(--bill-ten-bg);
    --bill-one-border: var(--bill-five-bg);

    --coin-quarter-bg: rgb(59, 59, 59);
    --coin-dime-bg: rgb(92, 92, 92);
    --coin-nickel-bg: rgb(139, 139, 139);
    --coin-penny-bg: rgb(156, 106, 59);

    --coin-quarter-border: rgb(39, 38, 38);
    --coin-dime-border: var(--coin-quarter-bg);
    --coin-nickel-border: var(--coin-dime-bg);
    --coin-penny-border: rgb(112, 65, 21);

}

body {
    margin: 0;
}

.container {
    background-color: var(--color3);
    display: flex;
    height: 100vh;
    width: 100vw;
}

.section {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#section1 {
    background-color: var(--color3);
    height: 100vh;
    width: 30vw;
}

.till {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10vh;
    padding: 15px;
}

.till input {
    background-color: var(--color5);
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    width: 80%;
}

#submit {
    background-color: var(--color5);
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
    width: 70%;
}

.currency-legend {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    width: 100%;
}

.bills {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bill {
    align-items: center;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    font-weight: bold;
    height: 7vh;
    justify-content: center;
    margin: 5px;
    width: 10vw;
}

.hundred {
    background-color: var(--bill-hundred-bg);
    border: 2px solid var(--bill-hundred-border);
}

.fifty {
    background-color: var(--bill-fifty-bg);
    border: 2px solid var(--bill-fifty-border);
}

.twenty {
    background-color: var(--bill-twenty-bg);
    border: 2px solid var(--bill-twenty-border);
}

.ten {
    background-color: var(--bill-ten-bg);
    border: 2px solid var(--bill-ten-border);
}

.five {
    background-color: var(--bill-five-bg);
    border: 2px solid var(--bill-five-border);
}

.one {
    background-color: var(--bill-one-bg);
    border: 2px solid var(--bill-one-border);
}

.coins {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coin {
    align-items: center;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    margin: 5px;
}

.quarter {
    background-color: var(--coin-quarter-bg);
    border: 2px solid var(--coin-quarter-border);
}

.dime {
    background-color: var(--coin-dime-bg);
    border: 2px solid var(--coin-dime-border);
}

.nickel {
    background-color: var(--coin-nickel-bg);
    border: 2px solid var(--coin-nickel-border);
}

.penny {
    background-color: var(--coin-penny-bg);
    border: 2px solid var(--coin-penny-border);
}

.quarter-size {
    height: 10vh;
    max-height: 10vw;
    max-width: 10vh;
    width: 10vw;
}


.dime-size {
    height: 6vh;
    max-height: 6vw;
    max-width: 6vh;
    width: 6vw;
}

.nickel-size {
    height: 8vh;
    max-height: 8vw;
    max-width: 8vh;
    width: 8vw;
}

.penny-size {
    height: 7vh;
    max-height: 7vw;
    max-width: 7vh;
    width: 7vw;
}

#display {
    background-color: var(--color4);
    color: var(--color);
    display: flex;
    height: 100vh;
    width: 70vw;
}

.payment {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
}

.labels {
    border-bottom:1px solid var(--color5);
    border-left:1px solid var(--color5);
    font-weight: bold;
    height: 100%;
    width: 90%;
}

.bill-labels {
    display: flex;
    width: 60%;
}

.bill-label {
    text-align: center;
    width: 20%;
}

.coin-labels {
    display: flex;
    width: 40%;
}

.coin-label {
    text-align: center;
    width: 25%;
}

.graph {
    display: flex;
    height: 100%;
}

#col-one {
    border-right: 1px dashed var(--color3)
}
.graph-col { 
    align-items: center;
    border-right: 1px dotted var(--color3);
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100px;
}

.graph-item {
    height: 10%;
    margin-top: 2px;
    width: 80%;
}

.graph-coin {
    border-radius: 50%;
}

.graph-quarter {
    height: 8vh;
    max-height: 8vw;
    max-width: 8vh;
    width: 8vw;
}

.graph-dime {
    height: 5vh;
    max-height: 5vw;
    max-width: 5vh;
    width: 5vw;
}

.graph-nickel {
    height: 7vh;
    max-height: 7vw;
    max-width: 7vh;
    width: 7vw;
}

.graph-penny {
    height: 6vh;
    max-height: 6vw;
    max-width: 6vh;
    width: 6vw;
}

.denom-labels {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 5vh;

}

.denom-quantities {
    background-attachment: #eaeaea;
    display: flex;
    font-size: 1.5rem;
    width: 100%;
}

.bill-quantities {
    display: flex;
    width: 60%;
}

.coin-quantities {
    display: flex;
    width: 40%;
}

