*{
    box-sizing: border-box;
}

:root {
    --P1-color: #eeeb2c;
    --m2-color: #ec9828;
    --M2-color: #d95628;
    --m3-color: #d3263a;
    --M3-color: #ca1574;
    --P4-color: rgb(117, 25, 62);
    --A4-color: #5c205b;
    --d5-color: #5c205b;
    --P5-color: #312d5c;
    --m6-color: #1c72a5;
    --M6-color: #0da5a6;
    --m7-color: #0fa96d;
    --M7-color: #67bb41;
}

body {
    align-items: center;
    background-color: rgb(10,125,100);
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 500px){
    .neck-container {
        display: flex;
        flex-direction: column;
        height: 40vh;
        margin: 25px;
        max-height: 400px;
        max-width: 80%;
        width: 80%;
    }
    
    .string {
        background-color: #eaeaea;
        display: flex;
        height: 10vh;
        width: 100%;
    }
    
    .invisible-string {
        background: none;
        border: none;
    }
    
    .fret {
        align-items: center;
        background-color: #eaeaea;
        border: 1px solid #8a8a8a;
        display: flex;
        height: 100%;
        justify-content: center;
        max-height: 15vh;
        width: 100%;
    }
    
    .inlay-fret {
        background-color: #c9c8c8;
    }
    
    .invisible-fret {
        background: none;
        border: none;
    }
    
    .open-fret {
        align-items: center;
        border-right: 6px double black;
        display: flex;
        justify-content: center;
        width: 50vw;
    }
    
    .invisible-open-fret {
        border: none;
        width: 55vw;
    }
    
    .note-marker {
        background-color: rgb(82, 15, 15);
        border: 2px solid black;
        border-radius: 50%;
        box-shadow: 0 0 5px black;
        color: rgb(248, 241, 241);
        font-family: sans-serif;
        font-size: 1.4rem;
        height: 5vh;
        max-height: 5vw;
        max-width: 5vh;
        position: relative;
        text-align: center;
        top: calc(-50%);
        width: 5vw;
    }
    
    .x-marker {
        background: none;
        border: none;
        color: black;
    }
    
    label {
        padding: 15px;
    }
    
    select {
        padding: 5px;
    }
}
